@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.about {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  width: 100%;
}

.about > img {
  width: 25vw;
  height: 25vw;
  /* border-radius: 40%; */
}

.aboutContent {
  display: flex;
  flex-direction: column;
  width: 38vw;
  margin-left: 2rem;
}

.aboutContent > h1 {
  font-size: 4rem;
  color: #3c78b3;
}

.aboutContent > :nth-child(2) {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  color: rgb(255, 183, 0);
}

.aboutContent > :nth-child(3) {
  color: rgb(110, 110, 110);
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.5rem;
  line-height: 1.8rem;
  font-size: .9rem;
}

.aboutContent > img {
  /* width: 35vw; */
  height: 150px;
}

@media (max-width: 850px) {
  .about {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .about > img {
    width: 40vw;
    height: 40vw;
  }
  .aboutContent {
    width: 70vw;
  }
  .aboutContent > h1 {
    font-size: 3.5rem;
  }
  .aboutContent > :nth-child(2) {
    font-size: 1.5rem;
  }
}

@media (max-width: 550px) {
  .about {
    margin-top: 0;
  }
  .about > img {
    width: 50vw;
    height: 50vw;
  }
  .aboutContent {
    width: 90%;
    margin-left: 0;
  }
  .aboutContent > :nth-child(2) {
    font-size: 1.2rem;
  }
}
